{
  "TEST_USERNAME": "your-keycloak-user",
  "TEST_PASSWORD": "your-keycloak-user-pw",
  "KEYCLOAK_CLIENT_ID": "your-keycloak-realm-clientID",
  "KEYCLOAK_CLIENT_SECRET": "your-client-secret",
  "KEYCLOAK_REALM": "your-client-realm"
}   